In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
Hero_Map = pd.read_csv('HeroIDAndMapID.csv')
Hero_Map.head()

   ID       Name       Group SubGroup
0   0    Unknown         NaN      NaN
1   1    Abathur  Specialist  Utility
2   2  Anub'arak     Warrior     Tank
3   3     Arthas     Warrior  Bruiser
4   4    Azmodan  Specialist    Siege

In [4]:
Rep_Char = pd.read_csv('ReplayCharacters.csv')
Rep_Char.head()

,ReplayID,Is Auto Select,HeroID,Hero Level,Is Winner,MMR Before,In Game Level,Takedowns,Killing Blows,Assists,Deaths,Highest Kill Streak,Hero Damage,Siege Damage,Healing,Self Healing,Damage Taken,Experience Contribution,Time Spent Dead,Merc Camp Captures
0,123508648,0,42,14,1,1978.0,24,49,3,46,1,42,16313,9331,123140.0,26859,NaN,20551,00:01:05,5
1,123508648,0,52,12,1,2037.0,24,51,15,36,8,18,89553,28938,NaN,0,NaN,17580,00:06:31,0
2,123508648,0,68,3,0,2021.0,24,18,7,11,17,5,74827,53071,16740.0,14769,NaN,15559,00:09:48,2
3,123508648,0,59,10,0,1886.0,24,19,3,16,13,5,54413,38493,NaN,0,133770.0,16002,00:08:21,3
4,123508648,0,40,20,1,2046.0,24,51,25,26,7,21,78745,50724,NaN,17618,NaN,23765,00:04:21,6

In [5]:
Rep = pd.read_csv('Replays.csv')
Rep.head()

,ReplayID,GameMode(3=Quick Match 4=Hero League 5=Team League 6=Unranked Draft),MapID,Replay Length,Timestamp (UTC)
0,123508648,3,1001,00:31:59,9/22/2017 3:01:18 AM
1,123826826,3,1003,00:22:32,9/22/2017 3:01:22 AM
2,123789056,3,1007,00:21:24,9/22/2017 3:01:23 AM
3,126610491,3,1001,00:15:52,9/22/2017 3:01:24 AM
4,123497937,3,1008,00:22:55,9/22/2017 3:01:25 AM

# Replay_character 필요 칼럼만 모으기

In [6]:
Rep_Char1 = Rep_Char[['ReplayID','HeroID','Hero Level','Is Winner','In Game Level','Takedowns','Killing Blows','Assists','Deaths','Hero Damage','Siege Damage','Healing','Self Healing','Damage Taken','Time Spent Dead']]
Rep_Char1.head()

,ReplayID,HeroID,Hero Level,Is Winner,In Game Level,Takedowns,Killing Blows,Assists,Deaths,Hero Damage,Siege Damage,Healing,Self Healing,Damage Taken,Time Spent Dead
0,123508648,42,14,1,24,49,3,46,1,16313,9331,123140.0,26859,NaN,00:01:05
1,123508648,52,12,1,24,51,15,36,8,89553,28938,NaN,0,NaN,00:06:31
2,123508648,68,3,0,24,18,7,11,17,74827,53071,16740.0,14769,NaN,00:09:48
3,123508648,59,10,0,24,19,3,16,13,54413,38493,NaN,0,133770.0,00:08:21
4,123508648,40,20,1,24,51,25,26,7,78745,50724,NaN,17618,NaN,00:04:21

# 1. 숙련도와 승률간의 관계

In [7]:
# 일단 Replay_character 파일에서 is winner 랑 Hero Level이랑 묶기
Rep_Char01 = Rep_Char1[['Is Winner','Hero Level']]
Rep_Char01.head()

   Is Winner  Hero Level
0          1          14
1          1          12
2          0           3
3          0          10
4          1          20

In [8]:
# winner와 defeat 간의 전체 hero level 합 비교
# 진 사람들의 총 숙련도
a1 = Rep_Char01[Rep_Char01['Is Winner'] == 0]
a1.head()
a2 = a1['Hero Level'].sum()
a2

100359340

In [9]:
# 이긴사람들의 총 숙련도
a3 = Rep_Char01[Rep_Char01['Is Winner'] == 1]
a3.head()
a4 = a3['Hero Level'].sum()
a4

104773773

In [ ]:
# 위의꺼 결론 -> a2(진놈들 숙련도) < a4(이긴놈들 숙련도), 대충 1%높음

In [10]:
# 전체 수량
a0 = Rep_Char01['Is Winner'].value_counts()
a0[1]

9531250

In [11]:
# 이긴 사람 평균 숙련도
a11 = a4/a0[1]
a11

10.992658150819672

In [12]:
# 진 사람 평균 숙련도
a12 = a2/a0[1]
a12

10.529504524590164

# 2. ReplayID 끼리 합쳐서 전체 딜량 확인하기

In [13]:
# ReplayID랑 Hero Damage로 모으기
Rep_Char02 = Rep_Char[['ReplayID','Hero Damage']]
Rep_Char02.head()

    ReplayID  Hero Damage
0  123508648        16313
1  123508648        89553
2  123508648        74827
3  123508648        54413
4  123508648        78745

In [14]:
# 합치기

k = pd.DataFrame(np.random.randn(953124,2))

for i in range(0,10):
    k[0].loc[i] = Rep_Char02['Hero Damage'].loc[10*i];

    
for j in range(0,100):
    
for i in range(0,9):
    if Rep_Char02['ReplayID'].loc[i] == Rep_Char02['ReplayID'].loc[i+1]:
        k[0].loc[0] = k[0].loc[0] + Rep_Char02['Hero Damage'].loc[i+1]


k.head()

IndentationError: expected an indented block (<ipython-input-14-de7c8fce1c8e>, line 11)

# 3. HeroID랑 이름이랑 바꾸기

In [88]:
for i in range(1,1000):
    if Hero_Map['ID'].loc[1] == Rep_Char1['HeroID'].loc[i]:
        Rep_Char1['HeroID'] = Hero_Map['Name']
Rep_Char1['HeroID']

C:\Users\bhheo93\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0               Unknown
1               Abathur
2             Anub'arak
3                Arthas
4               Azmodan
5            Brightwing
6                  Chen
7                Diablo
8                E.T.C.
9               Falstad
10              Gazlowe
11              Illidan
12                Jaina
13              Johanna
14            Kael'thas
15             Kerrigan
16             Kharazim
17               Leoric
18                Li Li
19            Malfurion
20              Muradin
21                Murky
22              Nazeebo
23                 Nova
24               Raynor
25               Rehgar
26          Sgt. Hammer
27                Sonya
28             Stitches
29             Sylvanas
               ...
19062470            NaN
19062471            NaN
19062472            NaN
19062473            NaN
19062474            NaN
19062475            NaN
19062476            NaN
19062477            NaN
19062478            NaN
19062479            NaN
19062480            NaN
19062481            NaN
19062482            NaN
19062483            NaN
19062484            NaN
19062485            NaN
19062486            NaN
19062487            NaN
19062488            NaN
19062489            NaN
19062490            NaN
19062491            NaN
19062492            NaN
19062493            NaN
19062494            NaN
19062495            NaN
19062496            NaN
19062497            NaN
19062498            NaN
19062499            NaN
Name: HeroID, Length: 19062500, dtype: object