In [1]:
# 시작부분
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
Hero_Map = pd.read_csv('HeroIDAndMapID.csv')
Rep_Char = pd.read_csv('ReplayCharacters.csv')
Rep = pd.read_csv('Replays.csv')

In [2]:
Rep_Char1 = Rep_Char[['ReplayID','HeroID','Hero Level','Is Winner','In Game Level','Takedowns','Killing Blows','Assists','Deaths','Hero Damage','Siege Damage','Healing','Self Healing','Damage Taken','Time Spent Dead']]
Rep_Char1.head()

,ReplayID,HeroID,Hero Level,Is Winner,In Game Level,Takedowns,Killing Blows,Assists,Deaths,Hero Damage,Siege Damage,Healing,Self Healing,Damage Taken,Time Spent Dead
0,123508648,42,14,1,24,49,3,46,1,16313,9331,123140.0,26859,NaN,00:01:05
1,123508648,52,12,1,24,51,15,36,8,89553,28938,NaN,0,NaN,00:06:31
2,123508648,68,3,0,24,18,7,11,17,74827,53071,16740.0,14769,NaN,00:09:48
3,123508648,59,10,0,24,19,3,16,13,54413,38493,NaN,0,133770.0,00:08:21
4,123508648,40,20,1,24,51,25,26,7,78745,50724,NaN,17618,NaN,00:04:21

In [176]:
k5 = Rep_Char1[['ReplayID','Is Winner','HeroID']]
k4 = pd.DataFrame(columns = ['ReplayID', 'hero1','hero2','hero3','hero4','hero5','isWin'])
k6 = pd.DataFrame(columns = ['ReplayID', 'hero1','hero2','hero3','hero4','hero5','isWin'])
k7 = pd.DataFrame(columns = ['ReplayID', 'hero1','hero2','hero3','hero4','hero5','isWin'])
k5

           ReplayID  Is Winner  HeroID
0         123508648          1      42
1         123508648          1      52
2         123508648          0      68
3         123508648          0      59
4         123508648          1      40
5         123508648          0      71
6         123508648          0      16
7         123508648          1      38
8         123508648          0      48
9         123508648          1       3
10        123826826          1      11
11        123826826          1       7
12        123826826          1      42
13        123826826          1      51
14        123826826          0      18
15        123826826          0      28
16        123826826          0      59
17        123826826          1      47
18        123826826          0      33
19        123826826          0      14
20        123789056          0      17
21        123789056          0      23
22        123789056          0      39
23        123789056          0       1
24        123789056          1      57
25        123789056          1      14
26        123789056          1      22
27        123789056          0      24
28        123789056          1      66
29        123789056          1      13
...             ...        ...     ...
19062470  127725819          1      45
19062471  127725819          1      56
19062472  127725819          1      44
19062473  127725819          0      20
19062474  127725819          0      47
19062475  127725819          0      68
19062476  127725819          0       1
19062477  127725819          1       5
19062478  127725819          1       8
19062479  127725819          0      42
19062480  126429062          0      22
19062481  126429062          0      20
19062482  126429062          1       8
19062483  126429062          0      70
19062484  126429062          1      30
19062485  126429062          0      34
19062486  126429062          1      63
19062487  126429062          1      51
19062488  126429062          1       9
19062489  126429062          0      37
19062490  126345700          0      47
19062491  126345700          0      21
19062492  126345700          0      37
19062493  126345700          1      51
19062494  126345700          1      63
19062495  126345700          1      13
19062496  126345700          0      64
19062497  126345700          1      30
19062498  126345700          0      43
19062499  126345700          1      14

[19062500 rows x 3 columns]

In [180]:
for j in range(0,10000):
    tmp_0 = []
    tmp_1 = []
    repID = k5['ReplayID'].iloc[10*j]
    for i in range(10*j+0, 10*j+10):
        if k5['Is Winner'].iloc[i]==1:
            tmp_1.append(k5['HeroID'].iloc[i])
        if k5['Is Winner'].iloc[i]==0:
            tmp_0.append(k5['HeroID'].iloc[i])
    tmp_0.sort()
    tmp_1.sort()
    k4.loc[2*j+0]=1
    k4.loc[2*j+1]=1
    k4.iloc[2*j+0]['ReplayID']=repID
    k4.iloc[2*j+0]['hero1']=tmp_0[0]
    k4.iloc[2*j+0]['hero2']=tmp_0[1]
    k4.iloc[2*j+0]['hero3']=tmp_0[2]
    k4.iloc[2*j+0]['hero4']=tmp_0[3]
    k4.iloc[2*j+0]['hero5']=tmp_0[4]
    k4.iloc[2*j+0]['isWin']=0
    k4.iloc[2*j+1]['ReplayID']=repID
    k4.iloc[2*j+1]['hero1']=tmp_1[0]
    k4.iloc[2*j+1]['hero2']=tmp_1[1]
    k4.iloc[2*j+1]['hero3']=tmp_1[2]
    k4.iloc[2*j+1]['hero4']=tmp_1[3]
    k4.iloc[2*j+1]['hero5']=tmp_1[4]
    k4.iloc[2*j+1]['isWin']=1
k4

        ReplayID hero1 hero2 hero3 hero4 hero5 isWin
0      123508648    16    48    59    68    71     0
1      123508648     3    38    40    42    52     1
2      123826826    14    18    28    33    59     0
3      123826826     7    11    42    47    51     1
4      123789056     1    17    23    24    39     0
5      123789056    13    14    22    57    66     1
6      126610491    12    14    51    57    69     0
7      126610491     4    16    22    24    39     1
8      123497937    15    20    23    49    51     0
9      123497937    28    31    65    67    71     1
10     124021101    22    36    38    55    62     0
11     124021101    11    51    63    68    71     1
12     123705649    13    18    48    52    58     0
13     123705649    19    36    44    45    54     1
14     127620454    23    30    49    51    59     0
15     127620454     1    13    31    62    67     1
16     128899569    13    14    22    48    62     0
17     128899569    23    26    28    31    68     1
18     123502511     1    23    38    70    71     0
19     123502511    11    20    21    36    52     1
20     123498032    20    22    30    43    62     0
21     123498032    23    36    49    50    56     1
22     125050311    21    23    34    36    70     0
23     125050311    33    35    53    65    66     1
24     125644955     1    11    16    17    66     0
25     125644955    19    20    28    30    58     1
26     123497965     1    30    33    52    62     0
27     123497965    11    14    23    53    71     1
28     124656506    10    11    16    23    29     0
29     124656506     4    55    58    68    69     1
...          ...   ...   ...   ...   ...   ...   ...
19970  123518035     1     4    12    40    68     0
19971  123518035    15    31    36    66    71     1
19972  123518042    18    39    50    62    68     0
19973  123518042     3    14    19    23    31     1
19974  123798944     4     7    26    27    39     0
19975  123798944    11    22    23    43    56     1
19976  123670554    31    48    66    68    71     0
19977  123670554    23    31    38    52    68     1
19978  123518079    12    36    40    54    69     0
19979  123518079     1    18    23    31    48     1
19980  127470126     6    23    61    68    69     0
19981  127470126    20    22    46    63    71     1
19982  123591918     1    12    40    59    71     0
19983  123591918    20    26    31    33    36     1
19984  123522730    24    31    39    43    71     0
19985  123522730     7    38    48    49    59     1
19986  123877892    36    43    52    68    69     0
19987  123877892     5    36    47    59    68     1
19988  123535934     2    12    51    68    71     0
19989  123535934     6    23    28    38    46     1
19990  123518062     3    36    47    59    60     0
19991  123518062     1    20    52    65    68     1
19992  123519229    24    28    31    39    68     0
19993  123519229    11    13    14    27    48     1
19994  123518087     1     5    22    31    40     0
19995  123518087    12    36    52    68    69     1
19996  123603493    10    30    48    66    70     0
19997  123603493    23    33    36    50    56     1
19998  123519539    30    31    35    47    49     0
19999  123519539     1    14    43    52    68     1

[20000 rows x 7 columns]

In [199]:
k4.iloc[0]['hero5']

71

In [204]:
tmp = [2, 16]
k6 = pd.DataFrame(columns = ['ReplayID', 'hero1','hero2','hero3','hero4','hero5','isWin'])
k7 = pd.DataFrame(columns = ['ReplayID', 'hero1','hero2','hero3','hero4','hero5','isWin'])
count=0
for i in range(0, 20000):
    if tmp[0]==k4.iloc[i]['hero1'] or tmp[0]==k4.iloc[i]['hero2'] or tmp[0]==k4.iloc[i]['hero3'] or tmp[0]==k4.iloc[i]['hero4'] or tmp[0]==k4.iloc[i]['hero5']:
        k6.loc[count]=k4.iloc[i]
        count+=1

count2=0
for i in range(0, count):
    if tmp[1]==k6.iloc[i]['hero1'] or tmp[1]==k6.iloc[i]['hero2'] or tmp[1]==k6.iloc[i]['hero3'] or tmp[1]==k6.iloc[i]['hero4'] or tmp[1]==k6.iloc[i]['hero5']:
        k7.loc[count2]=k6.iloc[i]
        count2+=1
k7

     ReplayID hero1 hero2 hero3 hero4 hero5 isWin
0   123498069     2    16    51    62    65     0
1   123621834     2    16    39    63    71     1
2   123500623     2    16    22    36    48     0
3   123504207     2    16    34    52    62     0
4   123812400     2    16    38    51    70     1
5   127182194     2    16    25    52    71     1
6   124175597     2    16    39    65    69     0
7   124582156     2     5    15    16    34     0
8   128713507     2    16    30    46    67     1
9   123623646     2    11    14    16    51     1
10  123535128     2    12    16    53    56     1
11  125774149     2     7    16    23    71     1
12  127890048     1     2    16    46    55     0
13  124371380     2    14    16    31    47     1
14  123771569     2    16    30    51    66     0
15  123508298     2    12    14    16    56     1
16  124520475     1     2    12    16    69     0
17  125347106     2    16    23    48    52     1
18  123781901     2     9    16    39    64     0
19  128915417     2    14    16    23    56     0
20  125113308     2    16    59    67    71     0
21  123598693     2    16    36    52    66     1
22  123612783     2    12    16    26    48     1
23  123511916     2    12    16    27    53     1
24  125756325     1     2    16    43    47     1
25  124208927     1     2     5    16    39     1
26  124137896     2    16    21    36    38     0

In [205]:
z=k7['isWin'].sum()/k7['isWin'].count()
z

0.55555555555555558

In [208]:
a=k5[k5['HeroID']==tmp[0]]['Is Winner'].sum()/k5[k5['HeroID']==tmp[0]]['Is Winner'].count()
b=k5[k5['HeroID']==tmp[1]]['Is Winner'].sum()/k5[k5['HeroID']==tmp[1]]['Is Winner'].count()
(a+b)/2>z #true면 시너지 낮음, false면 높음

False